<!DOCTYPE html>

    
    <html lang="en-US">
<head>
    <link rel="stylesheet" href="../static/style.css">



<meta charset="utf-8" />

    <title>first page</title>
</head>

    <body>
    <div style="text-align: center;">
    <img src="../static/images.png" width="500" height="150">

    <u><h1 id="title-kosher" >Kosher apps</h1></u>
    <hr>
    <form action="">
    Search :
    <input type="text" name="Search">

    <hr>


        <div class="name">
        <a href="https://play.google.com/store/apps/details?id=com.kiloo.subwaysurf">
        <img src="https://lh3.googleusercontent.com/-gEFw3tNPqLIiR4OUcVhmYtmvolJHxdauraygimLKikNhAtbrEAhRjqGP4wgoz9gZRU=w300"  style="width:120px;height:100px;border:0">
        </a>
        <div style="background-color:White; color:black; padding:10px;">
        <h3>{{comment.name}}</h3>
        <p>Subway Surfers </p>
        </div>

    </div>
</body>

</html>