<!DOCTYPE html>
<html>
<head>
<style>
.center {
    margin: auto;
    width: 40%;
    border:3px solid black;
    padding: 10px;
    background-color: #FAEBD7;
    }
    h1 {
        font-size: 40px;
        color: maroon;
        text-align: center;
    }

    body {
        background-color: linen;
    }
</style>

<!--<link rel="stylesheet" href="{{url_for('static',fileName='style_manager.css')}}">-->
<meta charset="UTF-8">

    <h1><i>Entry manager</i></h1>

</head>
<body>
<br>
<hr>
<br>

<div class="center">

<form action="">
User name:<br>
<input type="text" name="userid">
<br>
User password:<br>
<input type="password" name="psw">
<br>
<input type="submit" value="Submit">
</form>
</div>
</body>

</html>